[submodule "amg/bundles/controls"]
	path = amg/bundles/controls
	url = https://zianomi@github.com/zianomi/amg-madrasa-base-soft-bundles-controls.git
[submodule "amg/bundles/settings"]
	path = amg/bundles/settings
	url = https://zianomi@github.com/zianomi/amg-madrasa-base-soft-bundles-settings.git
[submodule "amg/models"]
	path = amg/models
	url = https://zianomi@github.com/Amg-Solution/mad-soft-models.git
[submodule "amg/libs"]
	path = amg/libs
	url = https://zianomi@github.com/Amg-Solution/mad-soft-libs.git
