/*
	HUNDREDS of other stylesheets which work with this class can be found here - http://icant.co.uk/csstablegallery
	Try a few demos using the style dropdown box for our demo here - http://www.ajaxcrud.com/
*/

.paging_links{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	/* color:#F5E000;*/
	color:#445276;
}

.ajaxCRUD {


	padding:4px;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}

.ajaxCRUD th{

	font-weight: bold;
	font-size: 16px;
    text-align: right;
    font-family: "Jameel Noori Nastaleeq";
}

.ajaxCRUD th a{
	color: #000000;
}

.ajaxCRUD td a{
	border-bottom: 1px dotted #ba0000;
	font-size: 11px;
	text-decoration: none;
}

.ajaxCRUD td a:hover{
	color: #000;
	border-bottom: 1px solid #ba0000;
}

.ajaxCRUD td{
	font-weight:normal;
	vertical-align: middle;
    font-family: "Jameel Noori Nastaleeq";
}



.report, .alertgood {
	text-align: left;
	border-top: 1px solid #9c9;
	border-bottom: 1px solid #9c9;
	padding: 5px 5px 5px 30px;
	font-size: 11px;
	margin: 0 20px 15px 20px;
	color: #060;
	background: url("checkicon.gif") #e2f9e3 left no-repeat;
}

.error, .alertbad {
	text-align: left;
	font-weight: bold;
	border-top: 1px solid #c99;
	border-bottom: 1px solid #c99;
	padding: 5px 5px 5px 27px;
	font-size: 11px;
	margin: 0 20px 15px 20px;
	background: url("badicon.gif") #c00 left no-repeat;
	color: #fff;
}